{% extends 'base.html.twig' %}

{% block title %}Andrew Marbach{% endblock %}

{% block body %}

<div class="body">

  <div class="container bordure-titre">

    <h1 id='info'>Qui suis-je ? </h1>
    <hr>
    <p class="indic">DÉVELOPPEUR JUNIOR FULL STACK</p>
    <div class="d-flex bd-highlight box">
      <div class="p-4 flex-shrink-1 bd-highlight">
        <img src="img/andrew.png" class="img-fluid img-intro" alt="Responsive image">
      </div>
      <div class="p-4 w-100 bd-highlight">
        <p class="text-intro">Je me prénomme  <span>Marbach Andrew</span>, originaire d'une 
          petite ville situé en plein cœur de l'Alsace. Je suis 
          actuellement un jeune étudiant de 19 ans en <span>deuxième année 
          de BUT Informatique</span> parcours type Réalisation d'Application à <span><a href="https://dptinfo.iutmetz.univ-lorraine.fr/">l'IUT de Metz. </a></span><br>
          <br>
          Les formations suivies en tant qu'autodidacte et la 
          formation suivie à l'IUT me permettent d'être qualifier de
          "<span>touche-à-tout</span>". Je ne recule devant aucune technologie,
          tout autant qu'elle soit inconnue ou bien complexe au 
          premier abord.</p>
      </div>
    </div>


    <section class="info-interets">
      <h2> Mes centres d'intérêts </h2>
      <div class="col d-flex justify-content-center">
        <div class="container" style="text-align: -webkit-center;">
          <div class="row">
            <div class="col-sm">
              <div class="card-transparent" style="width: 15rem;">
                <img class="card-img-top" src="img/v.png" style="width: 50% ; text-align : center" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Voyager ! Découvrir de nouveaux horizons et de nouvelles cultures.</p><br>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card-transparent" style="width: 15rem;">
                <img class="card-img-top" src="img/p.png" style="width: 50% ; text-align : center" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Partager le moment présent et en conserver les meilleurs moments. <br>La pellicule n'a jamais disparu..</p><br>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card-transparent" style="width: 15rem;">
                <img class="card-img-top" src="img/d.png" style="width: 50% ; text-align : center" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Découvrir ce monde en constante évolution grâce aux nouvelles technologies.</p><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="info-interets">
    <br>
      <h2> Mes Compétences </h2>
    
      <div class="container-md info info-comp-back">
      <h3 >FRONT END</h3>
      
      <div class="card-group"  style="text-align : center ; justify-content : center">
        
        
        <div class="card-transparent">
          <a href="https://devdocs.io/html/"  target="_blank"><img class="card-img-top" src="img/HTML.png" style='width: 120px ; ' alt="Card image cap"></a>
          <div class="card-body">
            <a href="https://devdocs.io/html/"  target="_blank" style="text-decoration : none"><h5>HTML</h5></a>
          </div>
        </div>

        <div class="card-transparent" style="text-align : center">
          <a href="https://devdocs.io/css/" target="_blank"><img class="card-img-top" src="img/CSS.png" style='width: 85px ; ' alt="Card image cap"></a>
          <div class="card-body">
            <a href="https://devdocs.io/css/" target="_blank" style="text-decoration : none"><h5>CSS</h5></a>
          </div>
        </div>

        <div class="card-transparent" style="text-align : center ; padding-left : 20px">
          <a href="https://devdocs.io/sass/" target="_blank"><img class="card-img-top" src="img/SASS.png" style='width: 130px ; ' alt="Card image cap"></a>
          <div class="card-body">
            <a  href="https://devdocs.io/sass/" target="_blank" style="text-decoration : none"><h5>SASS</h5></a>
          </div>
        </div>
        <div class="card-transparent" style="text-align : center ; padding-left : 20px" >
          <a href="https://devdocs.io/javascript/" target="_blank"><img class="card-img-top" src="img/JS.png" style='width: 100px ; ' alt="Card image cap"></a>
          <div class="card-body">
            <a href="https://devdocs.io/javascript/" target="_blank" style="text-decoration : none"><h5>JS</h5></a>
          </div>
        </div>
      </div>
    </div>

<br>

 <div class="container">
  <div class="row">
    <div class="col-sm info-comp-front">
      <h3 >BACK END</h3>
        <div class="card-group justify-content-center">
        
       <div class="card-transparent" style="text-align : center ; padding-left : 20px" >
          <a href="https://php.net"  target="_blank"><img class="card-img-top" src="img/PHP.png" style='width: 180px ; ' alt="Card image cap"></a>
          <div class="card-body">
            <a href="https://php.net"  target="_blank" style="text-decoration : none" ; text-align : center><h5>PHP</h5></a>
          </div>
        </div>
        <div class="card-transparent" style="text-align : center ; padding-left : 20px" >
          <a href="https://docs.python.org/3/"  target="_blank"><img class="card-img-top" src="img/PYTHON.png" style='width: 112px ; ' alt="Card image cap"></a>
          <div class="card-body">
            <a href="https://docs.python.org/3/"  target="_blank" style="text-decoration : none" ; text-align : center><h5>Python</h5></a>
          </div>
        </div>
        <div class="card-transparent" style="text-align : center ; padding-left : 20px" >
          <a href="https://dev.mysql.com/doc/"  target="_blank"><img class="card-img-top" src="img/MySQL.png" style='width: 230px ; ' alt="Card image cap"></a>
          <div class="card-body">
            <a href="https://dev.mysql.com/doc/"  target="_blank" style="text-decoration : none" ; text-align : center><h5>MySQL</h5></a>
          </div>
        </div>
      </div>
      
      
      </div>
   <br>
   
    <div class="col-sm info-comp-front">
       <h3 >FRAMEWORK</h3>
        <div class="card-group justify-content-center" style="text-align : center ">
        
       <div class="card-transparent" style="text-align : center ; padding-left : 20px" >
          <a href="https://symfony.com/doc/current/index.html"  target="_blank"><img class="card-img-top" src="img/Symfony.png" style='width: 120px ; ' alt="Card image cap"></a>
          <div class="card-body">
            <a href="https://symfony.com/doc/current/index.html"  target="_blank" style="text-decoration : none" ; text-align : center><h5>Symfony</h5></a>
          </div>
        </div>
        <div class="card-transparent" style="text-align : center ; padding-left : 20px" >
          <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/"   target="_blank"><img class="card-img-top" src="img/Bootstrap.png" style='width: 122px ; ' alt="Card image cap"></a>
          <div class="card-body">
            <a href="https://getbootstrap.com/docs/5.2/getting-started/introduction/"  target="_blank" style="text-decoration : none" ; text-align : center><h5>Bootstrap</h5></a>
          </div>
        </div>
        <div class="card-transparent" style="text-align : center ; padding-left : 20px" >
          <a href="https://nodejs.org/en/"  target="_blank"><img class="card-img-top" src="img/NodeJS.png" style='width: 200px ; ' alt="Card image cap"></a>
          <div class="card-body">
            <a href="https://nodejs.org/en/"  target="_blank" style="text-decoration : none" ; text-align : center><h5>NodeJS</h5></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </section>

</div> 

  


  <div class="container bordure-titre">
   <section class="info-interets">
    <br>
        <h1 id='projets'>Mes projets </h1>
          <hr>
           
<div class="team-grid">
	<div class="container">
		<div class="row people d-flex justify-content-center">
			
			<div class="col-md-4 col-lg-3 itemm bg1" style="padding : 0">
				<a href="https://lesprosdeschampignons.fr/" target="_blank">

					<div class="box">
          <div class="cover">
							
						<h3 class="name">Les Pros Des Champignons</h3>        
            <hr style="width : 70% ; margin : auto">
            <p>2019</p>
						<p class="title">Le guide parfait des champigons</p>
            <div class="lang"><a href="https://www.php.net/"><i class="fab fa-php"></i></a><a href="https://devdocs.io/html/"><i class="fab fa-html5"></i></a><a href="https://devdocs.io/css/"><i class="fab fa-css3-alt"></i></a></div>	
					</div>
				</a>
          </div>
					
			</div>

      <div class="col-md-4 col-lg-3 itemm bg2" style="padding : 0">
				<a href="https://github.com/Andrew672/Among-Us-Bot" target="_blank">
					<div class="box">
            <div class="cover">
              <h3 class="name">Bot Discord</h3>        
              <hr style="width : 70% ; margin : auto">
              <p>2019</p>
              <p class="title">Bot discord permettant de jouer dans les règles de l'art ! </p>
              <div class="lang">
              <a href="https://nodejs.org/en/"><i class="fab fa-node"></i></a><a href="https://devdocs.io/bash/"><i class="fas fa-terminal"></i></a><a href="https://git-scm.com/doc"><i class="fab fa-git"></i></a></div>
            </div>
          </div>
				</a>
			</div>

       <div class="col-md-4 col-lg-3 itemm bg4" style="padding : 0">
				<a href="https://github.com/Andrew672/SitePro" target="_blank">
					<div class="box">
            <div class="cover">
            <h3 class="name">Site personnel</h3>        
              <hr style="width : 70% ; margin : auto">
              <p>2020 - 2022</p>
              <p class="title">Amélioration du site web tout au long </p>
              <div class="lang">

              <a href="https://symfony.com/doc/current/index.html"><i class="fab fa-symfony"></i></a><a href="https://www.php.net/"><i class="fab fa-php"></i></a><a href="https://devdocs.io/html/"><i class="fab fa-html5"></i></a><a href="https://sass-lang.com/documentation/"><i class="fab fa-sass"></i></a>   </div>
          </div>
             </div>
				</a>
			</div>

       <div class="col-md-4 col-lg-3 itemm bg5" style="padding : 0">
				<a href="https://andrew-marbach.xyz" target="_blank">
					<div class="box">
          <div class="cover">
						<h3 class="name">Site d'ancien élèves</h3>
             <hr style="width : 70% ; margin : auto">
              <p>2021 - 2022</p>
						<p class="title">Réalisation d'un site web pour un réseau d'ancien élèves (SAÉ 2.06)</p>
						<div class="lang">
             <a href="https://symfony.com/doc/current/index.html"><i class="fab fa-symfony"></i></a><a href="https://dev.mysql.com/"><i class="fa fa-database"></i></a>
            <a href="https://www.php.net/"><i class="fab fa-php"></i></a><a href="https://devdocs.io/html/"><i class="fab fa-html5"></i></a><a href="https://sass-lang.com/documentation/"><i class="fab fa-sass"></i></a>   </div>
					</div>
          </div>
					
				</a>
			</div>
       <div class="col-md-4 col-lg-3 itemm bg6" style="padding : 0">
				<a href="https://github.com/Andrew672/GestionD-partementInfo" target="_blank">
					<div class="box">
          <div class="cover">
						<h3 class="name">Gestion vacataires</h3>
             <hr style="width : 70% ; margin : auto">
              <p>2022</p>
						<p class="title">Réalisation d'une application interne pour le département informatique pour la gestion des professeurs vacataires. (Projet Hors Scolaire)</p>
						<div class="lang">
             <a href="https://symfony.com/doc/current/index.html"><i class="fab fa-symfony"></i></a><a href="https://dev.mysql.com/"><i class="fa fa-database"></i></a>
            <a href="https://www.php.net/"><i class="fab fa-php"></i></a><a href="https://devdocs.io/html/"><i class="fab fa-html5"></i></a><a href="https://sass-lang.com/documentation/"><i class="fab fa-sass"></i></a>   </div>
					</div>
          </div>
					
				</a>
			</div>

       <div class="col-md-4 col-lg-3 itemm bg3" style="padding : 0">
				<a href="https://github.com/Andrew672" target="_blank">
					<div class="box">
          <div class="cover">
					<h3 class="name">Diverses petits projets </h3>
				 <hr style="width : 70% ; margin : auto">   
						<div class="lang"><a href="https://www.php.net/"><i class="fab fa-php"></i></a><a href="https://devdocs.io/html/"><i class="fab fa-html5"></i></a><a href="https://devdocs.io/css/"><i class="fab fa-css3-alt"></i></a><a href="https://nodejs.org/en/"><i class="fab fa-node"></i></a><a href="https://devdocs.io/bash/"><i class="fas fa-terminal"></i></a><a href="https://git-scm.com/doc"><i class="fab fa-git"></i></a><a href="https://doc.ubuntu-fr.org/linux"><i class="fab fa-linux"></i></a><a href="https://devdocs.io/python/"><i class="fab fa-python"></i></a><a href="https://jsdoc.app/"><i class="fab fa-js"></i></a></div>
          </div>
					
				</a>
			</div>

    
    </section>

    </div>


  <div class="container bordure-titre">
   <section class="info-interets">
    <br>
        <h1 id='contact'>Me contacter </h1>
        <hr>
      <div class="container">
  {% for message in app.flashes('success') %}
    <div class="alert alert-success"style="" role="alert">{{ message }}</div>
 {% endfor %}
      {{ form_start(form) }} 

      <div class="container">
  <div class="row">
    <div class="col-sm">
     {{ form_row(form.nom) }}
    </div>
    <div class="col-sm">
     {{ form_row(form.prenom) }}
    </div>
  </div>
  {{ form_row(form.email) }}
  {{ form_row(form.sujet) }}
  {{ form_row(form.message) }}
   <div class="d-flex justify-content-center" style="margin : 10px">
     {{ form_errors(form.captcha) }} 
</div>
  <div class="d-flex justify-content-center" style="margin : 10px">
     {{ form_row(form.captcha) }} 
</div>


 
  

<div class="d-flex justify-content-center">
  <button type="submit" class="btn btn-lg btn-primary" style='text-align : center' >Envoyer</button>
</div>
 
 {{ form_end(form) }}
 </div>

</div>
    </div>








</div>


  {% endblock %}
